:root {
    /* CUSTOM VARIABLES */
    --main-color: var(--bs-red);
    --sidebar-width: 235px;
    --sidebar-brand-height: 64px;
    --sidebar-bg-color: white;
    --sidebar-padding-size: 16px;

    /* BS MODIFICATIONS */
    --bs-font-sans-serif: "Poppins", "Changa", sans-serif;
    --bs-body-font-size: 14px;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-bg: white;
    --bs-body-color: var(--bs-gray-700);
    --bs-link-color: var(--bs-body-color);
    --bs-link-hover-color: var(--bs-emphasis-color);
    --bs-border-color: var(--bs-gray-300);
    --bs-border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    font-size: inherit;
}

span {
    display: inline-block;
}

label {
    cursor: pointer;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

::placeholder {
    text-transform: capitalize;
    font-size: calc(var(--bs-body-font-size) - 1px);
}

:focus::placeholder {
    color: transparent;
}

/*  ========================================================================= */
/*  ========  SIDEBAR */
/*  ========================================================================= */
.sidebar {
    position: fixed;
    inset: 0 auto 0 0;
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg-color);
}

.sidebar-brand {
    height: var(--sidebar-brand-height);
}

.sidebar-search form button {
    top: 50%;
    right: 8px;
    border: none;
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
}

.sidebar-search form button svg {
    width: 14px;
    height: 14px;
    color: var(--bs-gray-500);
}

.sidebar .nav {
    --bs-nav-link-hover-color: var(--main-color);
}

.sidebar .nav-link {
    --bs-nav-link-padding-x: 8px;
    margin-bottom: 1px;
    border-radius: var(--bs-border-radius);
}

.sidebar .nav-link svg {
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

.sidebar .nav-link[aria-expanded="true"] {
    color: white;
    background-color: var(--bs-nav-link-hover-color);
}

.sidebar .nav .nav .nav-link {
    --bs-nav-link-font-size: calc(var(--bs-body-font-size) - 1px);
}

.sidebar .nav .nav .nav-link.active {
    color: var(--bs-nav-link-hover-color);
}

.sidebar .nav .nav .nav-link::before {
    width: 8px;
    content: '';
    height: 8px;
    margin-left: 4px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}


/*  ========================================================================= */
/*  ========  CUSTOM UTILITIES CLASS */
/*  ========================================================================= */
.flex-object {
    display: flex;
    align-items: center;
    gap: 12px;
}

.flex-object .icon {
    flex-shrink: 0;
}

.flex-object .icon img {
    object-fit: cover;
    object-position: center;
}

.flex-object .t-content {
    flex-grow: 1;
}

/*  ========================================================================= */
/*  ========  BOOTSTRAP MODIFICATIONS */
/*  ========================================================================= */
.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-control {
    font-size: inherit;
}

.form-control:focus {
    border-color: var(--bs-gray-500);
    box-shadow: 0 0 4px 3px rgb(147 147 147 / 25%);
}

.dropdown-toggle::after {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-color: currentColor;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m10.207 8l-3.854 3.854l-.707-.707L8.793 8L5.646 4.854l.707-.708z'/%3E%3C/svg%3E") no-repeat center / contain;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m10.207 8l-3.854 3.854l-.707-.707L8.793 8L5.646 4.854l.707-.708z'/%3E%3C/svg%3E") no-repeat center / contain;
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.btn {
    --bs-btn-font-size: inherit;
    display: inline-flex;
    align-items: center;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}