:root {
    --sidebar-brand-height: 70px;
    --sidebar-bottom-height: 70px;
}

body {
    color: var(--bs-gray-700);
    font-size: 14px;
    font-family: "Jost", "Poppins", "Changa", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.bx {
    color: inherit;
    font-size: 18px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1035;
    border-right: 1px solid var(--bs-gray-200);
    background-color: white;
    transition: 0.3s ease;
}

.sidebar-logo {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: var(--sidebar-brand-height);
}

.sidebar-logo i {
    font-size: 26px;
}

.sidebar-logo span {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s ease;
}

.collapsed-sidebar .sidebar-logo span {
    transform: translateX(24px);
    opacity: 0;
}

.sidebar-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-menu {
    flex: 1;
    height: calc(var(--sidebar-brand-height) - var(--sidebar-bottom-height));
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.sidebar-nav-link {
    display: flex;
    gap: 2px;
    transition: 0.3s ease;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 2px;
    position: relative;
    padding: 2px 8px 2px 4px;
}

.sidebar-nav-link .icon {
    display: inline-grid;
    place-content: center;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
}

.sidebar-nav-link:hover,
.sidebar-menu .collapse-menu .collapse-menu-link:hover,
.sidebar-menu .collapse-menu .collapse-menu-link.active {
    background-color: var(--bs-gray-100);
    color: var(--bs-gray-700);
}

.sidebar-nav-link.active,
.sidebar-nav-link[aria-expanded=true] {
    background-color: var(--bs-gray-800);
    color: white;
}

.sidebar-nav-link.dropdown-toggle::after {
    margin-left: auto;
    border: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -0.125em;
    background-color: currentcolor;
    transition: 0.3s ease;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m10.207 8l-3.854 3.854l-.707-.707L8.793 8L5.646 4.854l.707-.708z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.sidebar-nav-link.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.sidebar-nav-title {
    margin: 16px 0 8px;
    font-weight: 600;
    white-space: normal;
}

.sidebar-bottom {
    flex-shrink: 0;
    padding: 0 16px;
    height: var(--sidebar-brand-height);
}

.sidebar-bottom .profile-logout {
    gap: 16px;
    padding: 12px;
    display: flex;
    color: white;
    border-radius: 4px;
    align-items: center;
    background-color: var(--bs-gray-800);
}

.theme-toggler {
    display: flex;
    width: 75px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: end;
    padding-right: 16px;
    cursor: pointer;
}

.theme-toggler .switch {
    display: flex;
    align-items: center;
    background-color: var(--bs-gray-300);
    width: 44px;
    height: 22px;
    border-radius: 50px;
    position: relative;
    transition: 0.3s ease;
}

.dark-theme .theme-toggler .switch {
    background-color: var(--bs-gray-800);
}


.theme-toggler .switch::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

.dark-theme .theme-toggler .switch::before {
    left: 25px;
}

.collapsed-sidebar .sidebar {
    width: 70px;
}

.sidebar .sidebar-menu .text {
    white-space: nowrap;
    transition: 0.3s ease;
}

.sidebar-menu .collapse-menu {
    padding: 0;
    padding-left: 34px;
    position: relative;
}

.sidebar-menu .collapse-menu .collapse-menu-link {
    padding: 8px 8px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    border-radius: 4px;
    position: relative;
}

.sidebar-menu .collapse-menu .collapse-menu-link.active {
    color: black;
}

.sidebar-menu .collapse-menu .collapse-menu-link::before {
    content: '';
    position: absolute;
    height: 65%;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    background-color: transparent;
    left: -14px;
}

.sidebar-menu .collapse-menu .collapse-menu-link.active::before {
    background-color: var(--bs-gray-700);
}

.sidebar-menu .collapse-menu::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: var(--bs-gray-300);
    left: 20px;
}

.badge {
    border-radius: 3px;
    font-weight: 400;
    margin-left: 16px;
    line-height: inherit;
    padding: 2px 6px;
}

.badge-dark {
    color: white;
    text-transform: capitalize;
    background-color: var(--bs-gray-800);
}