body {
    color: var(--bs-gray-700);
    font-size: 14px;
    font-family: "Jost", "Poppins", "Changa", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.bx {
    color: inherit;
    font-size: 18px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1035;
    border-right: 1px solid var(--bs-gray-200);
    background-color: white;
    transition: 0.3s ease;
}

.sidebar-logo {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 70px;
}

.sidebar-logo i {
    font-size: 26px;
}

.sidebar-logo span {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s ease;
}

.collapsed-sidebar .sidebar-logo span {
    transform: translateX(24px);
    opacity: 0;
}

.sidebar-menu ul {
    display: flex;
    flex-direction: column;
}

.sidebar-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.sidebar-menu {
    flex: 1;
}

.sidebar-nav-link {
    display: flex;
    gap: 12px;
    padding: 8px;
    transition: 0.3s ease;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 2px;
    position: relative;
}

.sidebar-nav-link:hover,
.sidebar-nav-link.active {
    background-color: var(--bs-gray-800);
    color: white;
}

.sidebar-nav-title {
    margin: 16px 0 8px;
    font-weight: 600;
    white-space: normal;
}

.sidebar-bottom {
    flex-shrink: 0;
    padding: 16px 16px;
}

.sidebar-bottom .profile-logout {
    gap: 16px;
    padding: 12px;
    display: flex;
    color: white;
    border-radius: 4px;
    align-items: center;
    background-color: var(--bs-gray-800);
}

.theme-toggler {
    display: flex;
    width: 75px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: end;
    padding-right: 16px;
    cursor: pointer;
}

.theme-toggler .switch {
    display: flex;
    align-items: center;
    background-color: var(--bs-gray-300);
    width: 44px;
    height: 22px;
    border-radius: 50px;
    position: relative;
    transition: 0.3s ease;
}

.dark-theme .theme-toggler .switch {
    background-color: var(--bs-gray-800);
}


.theme-toggler .switch::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

.dark-theme .theme-toggler .switch::before {
    left: 25px;
}

.collapsed-sidebar .sidebar {
    width: 70px;
}

.sidebar .sidebar-menu .text {
    white-space: nowrap;
    transition: 0.3s ease;
}

.collapsed-sidebar .sidebar .sidebar-menu .text {
    transform: translateX(24px);
    opacity: 0;
}

.collapsed-sidebar .sidebar .sidebar-nav-title {
    white-space: nowrap;
    /* opacity: 0; */
}

.collapsed-sidebar .theme-toggler {
    padding: 0;
}