body {
    font-size: 14px;
    color: var(--bs-gray-800);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

/*  ======================================================================================== */
/*  ========    GLOBAL HTML ELEMENTS */
/*  ======================================================================================== */
::placeholder {
    text-transform: capitalize;
    font-size: 14px;
}

:focus::placeholder {
    color: transparent;
}

a,
.nav-link {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

/*  ======================================================================================== */
/*  ========    BOOTSTRAP MODIFICATIONS */
/*  ======================================================================================== */
.form-control {
    border-radius: 4px;
    font-size: inherit;
}

.badge {
    background-color: var(--bs-gray-900);
}

/*  ======================================================================================== */
/*  ========    SIDEBAR */
/*  ======================================================================================== */
.sidebar {
    width: 270px;
    position: fixed;
    inset: 0 auto 0 0;
    background-color: white;
    border-right: 1px solid var(--bs-gray-200);
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-menu {
    flex: 1;
    overflow: hidden;
}

.sidebar-menu ul {
    height: 100%;
    padding: 16px;
}

.sidebar-brand {
    padding: 16px;
    border-bottom: 1px solid var(--bs-gray-200);
    height: 65px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.sidebar-search-form {
    border-bottom: 1px solid var(--bs-gray-200);
    padding: 16px;
}

.sidebar-auth-item {
    border-top: 1px solid var(--bs-gray-200);
    display: flex;
    align-items: center;
    padding: 16px;
}

.sidebar-menu ul .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: whitesmoke;
    margin-bottom: 2px;
    border-radius: 6px;
    padding: 6px 12px;
}

.sidebar-menu ul .nav-link:hover {
    background-color: var(--bs-gray-900);
    color: white;
}

.sidebar-menu ul .nav-link svg {
    width: 20px;
    height: 20px;
}

.sidebar-menu ul .nav-link span:last-of-type:has(svg) {
    margin-left: auto;
}

.sidebar-menu ul .nav-link span:last-of-type:has(svg) svg {
    width: 18px;
}

.sidebar h6 {
    display: none;
}

.sidebar .collapse-nav-item {
    position: relative;
    padding: 6px 6px;
    border-radius: 4px;
    margin-bottom: 1px;
}

.collapse-nav-menu {
    list-style: none;
    padding: 0 16px !important;
    border-left: 1px solid var(--bs-gray-200);
    padding-left: 16px;
    margin-left: 20px;
}

.sidebar .collapse-nav-item::before {
    position: absolute;
    content: '';
    border: 1px solid var(--bs-gray-300);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -20.55px;
}

.sidebar .collapse-nav-item::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: var(--bs-gray-300);
    left: -13px;
    top: 50%;
}

/*  ======================================================================================== */
/*  ========    SIMPLEBAR */
/*  ======================================================================================== */
.simplebar-scrollbar:before {
    background: var(--bs-gray-900);
}